<a href="https://colab.research.google.com/github/Rogit10/Projects/blob/main/Medical_Dataset_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Medical Dataset Analysis: Python, SQL, and Insights**

We will be stepping into the world of data-driven healthcare analysis in our project, "Medical Dataset Analysis: Python, SQL, and Insights." With Python as our trusted tool and SQL as our analytical compass, We embarks on a mission to unlock the potential hidden in interconnected medical datasets.

This project focuses on three critical datasets: "hospitalization_details," "medical_examinations," and "names." Divided into two essential part, the project commences with meticulous data cleaning, ensuring the data's accuracy and structure. Once the data shines brilliantly, the second part will involve unleashes the power of SQL queries to extract valuable insights.

Our journey is a deep dive into healthcare data, unearthing insights that can revolutionize healthcare decision-making and resource optimization. It's not just data analysis; it's a transformative voyage into the world of medical dataset analysis.

By the end of this project, we won't just crunch numbers; we'll possess the tools to drive data-powered improvements in healthcare, enhancing the lives of patients and streamlining resource allocation.

Join me on this captivating journey, where every line of code and every SQL query unravels the mysteries of medical data. Together, we'll illuminate the path to actionable insights, shaping the future of healthcare with data-driven solutions.

**PART-1**

Task 1: Loading Hospitalization Details
In this task, we load the hospitalization details from the 'hospitalisation_details.csv' file into a Pandas DataFrame named 'hosp_details.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [ ]:
#--- Import Pandas ---
import pandas as pd
#--- Read in dataset(hospitalisation_details.csv) ----
hosp_details = pd.read_csv('/content/hospitalisation_details.csv')

#--- Inspect data ---
hosp_details.head(10)

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no
5,Id2330,2001,Nov,20,0,646.14,tier - 3,tier - 3,R1012,no,no
6,Id2329,1993,Jun,1,0,650.00,tier - 3,tier - 3,R1013,no,no
7,Id2328,1995,Jul,4,0,650.00,tier - 3,tier - 3,R1013,no,no
8,Id2327,2002,Nov,29,0,668.00,tier - 3,tier - 2,R1012,no,no
9,Id2326,1997,Nov,9,0,670.00,tier - 3,tier - 3,R1013,no,no

Task 2: Identifying Null Values in Hospitalization Details
In this task, we identify and count the null values in the 'hosp_details' dataset. This step is crucial for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 2 ---
null_values = hosp_details.isnull().sum()

#--- Inspect data ---
null_values

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

Task 3: Identifying Data Types in Hospitalization Details
In this task, we determine the data types of the columns in the 'hosp_details' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 3 ---
datatype = hosp_details.dtypes

#--- Inspect data ---
datatype

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

Task 4: Identifying Duplicate Data in Hospitalization Details
In this task, we aim to identify and quantify the presence of duplicate data within the 'hosp_details' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 4 ---
duplicates =hosp_details.duplicated().sum()

#--- Inspect data ---
duplicates

89

Task 5: Data Preprocessing and Cleaning for Hospitalization Details
In this task, we perform data preprocessing and cleaning on the 'hosp_details' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove specific columns, 'Has_Children' and 'Is_Frequent_Treatment,' as they are not relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'hospitalisation_details_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [ ]:
hosp_details.drop_duplicates(inplace=True)
columns_to_drop = ['Has_Children', 'Is_Frequent_Treatment']
hosp_details.drop(columns=columns_to_drop, inplace=True)
new_columns = {
    'c_id': 'customer_id',
    'yr': 'year',
    'mth': 'month',
    'date?': 'date',
    'children?': 'children',
    'charges?': 'charges',
    'host_tier': 'hospital_tier',
    'Ct_tier': 'city_tier',
    'st_id': 'state_id'
}
hosp_details.rename(columns=new_columns,inplace = True)
output_file_path = 'hospitalisation_details_cleaned.csv'
#hosp_details.to_csv(output_file_path, index=False)  # Commented out for testing
hosp_details.head(10) # View the first few rows of the cleaned DataFrame

,customer_id,year,month,date,children,charges,hospital_tier,city_tier,state_id
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013
5,Id2330,2001,Nov,20,0,646.14,tier - 3,tier - 3,R1012
6,Id2329,1993,Jun,1,0,650.00,tier - 3,tier - 3,R1013
7,Id2328,1995,Jul,4,0,650.00,tier - 3,tier - 3,R1013
8,Id2327,2002,Nov,29,0,668.00,tier - 3,tier - 2,R1012
9,Id2326,1997,Nov,9,0,670.00,tier - 3,tier - 3,R1013

Task 6: Loading Medical Examination Data
In this task, we load the medical examination data from the 'medical_examinations.csv' file into a Pandas DataFrame named 'med_exam.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [ ]:
#--- Read in dataset (medical_examinations.csv) ----
# ---WRITE YOUR CODE FOR TASK 6 ---
med_exam = pd.read_csv('/content/medical_examinations.csv')

#--- Inspect data ---
med_exam.head(10)

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,None
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,None
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,None
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,None
5,Id6,32.800,6.59,No,No,No,No major surgery,yes,None
6,Id7,36.400,6.07,No,No,No,No major surgery,yes,None
7,Id8,36.960,7.93,No,No,No,3,yes,Extended
8,Id9,41.140,9.58,yes,No,Yes,1,yes,Short
9,Id10,38.060,10.79,No,No,No,No major surgery,yes,None

Task 7: Identifying Null Values in Medical Examination Data
In this task, we identify and count the null values in the 'med_exam' dataset. This step is crucial for our new project, as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 7 ---
null_values = med_exam.isnull().sum()

#--- Inspect data ---
null_values

cid                   0
b_m_i                 0
HBA1C                 0
h_Issues              0
any_transplant        0
cancer_hist           0
noofmajorsurgeries    0
smoker??              0
recovery_period       0
dtype: int64

Task 8: Identifying Data Types in Medical Examination Data
In this task, we determine the data types of the columns in the 'med_exam' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 8 ---
datatype = med_exam.dtypes

#--- Inspect data ---
datatype

cid                    object
b_m_i                 float64
HBA1C                 float64
h_Issues               object
any_transplant         object
cancer_hist            object
noofmajorsurgeries     object
smoker??               object
recovery_period        object
dtype: object

Task 9: Identifying Duplicate Data in Medical Examination Data
In this task, we aim to identify and quantify the presence of duplicate data within the 'med_exam' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [ ]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 9 ---
duplicates = med_exam.duplicated().sum()

#--- Inspect data ---
duplicates

39

Task 10: Data Preprocessing and Cleaning for Medical Examination Data
In this task, we perform data preprocessing and cleaning on the 'med_exam' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove a specific column, 'recovery_period,' as it may not be relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'medical_examinations_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [ ]:
# --- WRITE YOUR CODE FOR  MODULE 1 TASK 10 ---
med_exam.drop_duplicates(inplace = True)
columns_to_remove = ['recovery_period']
med_exam.drop(columns = columns_to_remove,inplace = True)

new_columns = {
    'cid':'customer_id',
    'b_m_i':'BMI',
    'h_Issues' :'health_issues',
    'cancer_hist':'cancer_history',
    'noofmajorsurgeries':'numberofmajorsurgeries',
    'smoker??':'smoker'
}
med_exam.rename(columns = new_columns,inplace = True)
#--- Export the df as "medical_examinations_cleaned.csv" ---
#output_file_path = 'medical_examinations_cleaned.csv'
#med_exam.to_csv(output_file_path, index=False)

#med_exam = ...

#--- Inspect data ---
med_exam.head(10)

,customer_id,BMI,HBA1C,health_issues,any_transplant,cancer_history,numberofmajorsurgeries,smoker
0,Id1,47.410,7.47,No,No,No,No major surgery,yes
1,Id2,30.360,5.77,No,No,No,No major surgery,yes
2,Id3,34.485,11.87,yes,No,No,2,yes
3,Id4,38.095,6.05,No,No,No,No major surgery,yes
4,Id5,35.530,5.45,No,No,No,No major surgery,yes
5,Id6,32.800,6.59,No,No,No,No major surgery,yes
6,Id7,36.400,6.07,No,No,No,No major surgery,yes
7,Id8,36.960,7.93,No,No,No,3,yes
8,Id9,41.140,9.58,yes,No,Yes,1,yes
9,Id10,38.060,10.79,No,No,No,No major surgery,yes

Note: While the SQL queries are completed for the analysis using another cloud Mysql platfrom I am unable to connect it here

**PART-2**

Task 1: Data Download, Import, and Database Connection

In [ ]:
# -- Load the sql extention ----
%load_ext sql

# --- Load your mysql db using credentials from the "DB" area ---
%sql mysql+pymysql://b3add0bc:Cab#22se@localhost/b3add0bc

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pymysql/connections.py", line 644, in connect
    sock = socket.create_connection(
  File "/usr/lib/python3.10/socket.py", line 845, in create_connection
    raise err
  File "/usr/lib/python3.10/socket.py", line 833, in create_connection
    sock.connect(sa)
OSError: [Errno 99] Cannot assign requested address

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/impl.py", line 169, in _do_get
    with util.safe_reraise():
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/impl.py", line 167, in _do_get
    return self._create_connection()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 902, in __connect
    with util.safe_reraise():
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "/usr/local/lib/python3.10/dist-packages/pymysql/connections.py", line 358, in __init__
    self.connect()
  File "/usr/local/lib/python3.10/dist-packages/pymysql/connections.py", line 711, in connect
    raise exc
pymysql.err.OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 99] Cannot assign requested address)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 3269, in connect
    return self._connection_cls(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 2431, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/impl.py", line 169, in _do_get
    with util.safe_reraise():
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/impl.py", line 167, in _do_get
    return self._create_connection()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 902, in __connect
    with util.safe_reraise():
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "/usr/local/lib/python3.10/dist-packages/pymysql/connections.py", line 358, in __init__
    self.connect()
  File "/usr/local/lib/python3.10/dist-packages/pymysql/connections.py", line 711, in connect
    raise exc
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 99] Cannot assign requested address)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Task 2: Average Hospital Charges Analysis
In this project, we aim to analyze a medical dataset to determine the average hospital charges. This analysis can provide essential insights into healthcare cost trends, helping hospitals and patients understand the financial aspects of medical care. By calculating the average hospital charges, we gain valuable information for financial planning, cost optimization, and transparency in healthcare services.

In [ ]:
%%sql
SELECT AVG(charges)
FROM hospitalization_details

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Task 3: High Charges Analysis
This project focuses on identifying unique customer identifiers, corresponding years, and charges from a specific medical dataset, specifically for records where charges exceed 700. By retrieving this data, we can gain insights into cases of exceptionally high hospital charges, which can inform further investigation, cost control strategies, and patient financial support.

In [ ]:
%%sql
SELECT customer_id,year,charges
FROM hospitalization_details
WHERE charges > 700;

Task 4: High BMI Patients Analysis
In this project, we aim to retrieve the name, year, and charges for customers with a BMI (Body Mass Index) greater than 35 from a medical dataset. Analyzing the data of high BMI patients allows us to understand the healthcare costs associated with this specific group. This information can be valuable for identifying health trends, managing patient care, and optimizing medical expenses.

In [ ]:
%%sql
SELECT n.name,h.year,h.charges
FROM medical_examinations m
JOIN hospitalization_details h ON h.customer_id = m.customer_id
JOIN names n ON h.customer_id = n.customer_id
WHERE BMI > 35;

Task 5: Customers with Major Surgeries
This project focuses on listing customer IDs and names of individuals from the names table who have undergone major surgeries, as recorded in the medical_examinations table. By identifying such patients, we can gain insights into the population with a history of major surgical procedures, which can inform healthcare planning, risk assessment, and medical follow-up.

In [ ]:
%%sql
SELECT n.customer_id,name
FROM names n
JOIN medical_examinations m ON m.customer_id = n.customer_id
WHERE numberofmajorsurgeries >= 1;

Task 6: Average Charges by Hospital Tier in 2000
In this project, we aim to calculate the average hospital charges per hospital tier for the year 2000 from the hospitalization_details table. This analysis allows us to understand the variation in charges based on the hospital tier, providing insights into cost disparities and healthcare quality across different tiers. It can assist in making informed decisions about healthcare facilities and costs.

In [ ]:
%%sql
SELECT hospital_tier, AVG(charges)
FROM hospitalization_details
WHERE year = 2000
GROUP BY hospital_tier;

Task 7: Smoking Patients with Transplants Analysis
This project aims to retrieve customer IDs, BMI, and charges for patients who are smokers and have undergone a transplant, as per the medical_examinations and hospitalization_details tables. Analyzing this data allows us to study the healthcare costs and health conditions of patients with a history of smoking and transplants. This information can be valuable for targeted healthcare interventions and cost estimation.

In [ ]:
%%sql
SELECT m.customer_id, BMI, h.charges
FROM medical_examinations m
JOIN hospitalization_details h ON m.customer_id = h.customer_id
WHERE smoker = 'yes' and any_transplant = 'Yes';

Task 8: Patients with Major Surgeries or Cancer History
In this project, we retrieve the names of customers who have had at least two major surgeries or have a history of cancer, as recorded in the medical_examinations table. This analysis helps identify patients with complex medical histories, enabling healthcare providers to tailor care plans and assess potential healthcare costs for these individuals.

In [ ]:
%%sql
SELECT name
FROM names n
JOIN medical_examinations m ON m.customer_id = n.customer_id
WHERE numberofmajorsurgeries >= 2 or
cancer_history = 'Yes';

Task 9: Customer with Most Major Surgeries
In this project, we identify and display the customer with the highest number of major surgeries. By joining the names and medical_examinations tables and sorting the records by the number of major surgeries in descending order, we can pinpoint the customer with the most significant surgical history. This insight is valuable for personalized healthcare management and resource allocation

In [ ]:
%%sql
SELECT n.customer_id, n.name
FROM names n
JOIN medical_examinations m ON m.customer_id = n.customer_id
ORDER BY numberofmajorsurgeries DESC
Limit 1;

Task 10: Customers with Major Surgeries and City Tiers
In this project, we compile a list of customers who have undergone major surgeries and their respective cities' tier levels (city_tier) from the hospitalization_details table. This analysis provides insights into the distribution of major surgeries across different city tiers, aiding in healthcare planning, resource allocation, and assessing the impact of city tiers on surgical cases.

In [ ]:
%%sql
SELECT m.customer_id, n.name, h.city_tier
FROM names n
JOIN hospitalization_details h ON h.customer_id = n.customer_id
JOIN medical_examinations m ON m.customer_id = n.customer_id
WHERE numberofmajorsurgeries > 0;

Task 11: Average BMI by City Tier in 1995
This project aims to calculate the average BMI for each city tier level in the year 1995 from the hospitalization_details table. Analyzing the average BMI across different city tiers allows us to understand the variations in health parameters among urban areas. It provides insights that can be used for health planning, resource allocation, and identifying potential health trends

In [ ]:
%%sql
SELECT city_tier, AVG(m.BMI) AS avg_bmi
FROM hospitalization_details h
JOIN medical_examinations m ON h.customer_id = m.customer_id
WHERE year = 1995
GROUP BY city_tier;

Task 12: High BMI Customers with Health Issues
In this project, we extract customer IDs, names, and charges of customers who have health issues and a BMI greater than 30. By combining data from the names, medical_examinations, and hospitalization_details tables, we can identify individuals with specific health concerns and high BMI levels. This information is valuable for targeted healthcare interventions and assessing associated healthcare costs.

In [ ]:
%%sql
SELECT m.customer_id, n.name, h.charges
FROM names n
JOIN medical_examinations m ON n.customer_id = m.customer_id
JOIN hospitalization_details h ON h.customer_id = n.customer_id
WHERE health_issues = 'yes' and BMI > 30;

Task 13: Customers with Highest Charges and City Tier by Year
In this project, we identify the customer with the highest total charges for each year and display their corresponding city_tier. By joining the hospitalization_details and names tables and grouping the data by year, customer name, and city_tier, we can determine which customer incurred the highest charges in each year. This analysis is crucial for understanding cost patterns over time and tailoring healthcare strategies accordingly.

In [ ]:
%%sql
SELECT year, name, city_tier, MAX(charges)
FROM hospitalization_details h
JOIN names n ON h.customer_id = n.customer_id
GROUP BY year, name, city_tier
HAVING MAX(h.charges) = (SELECT MAX(charges) FROM hospitalization_details WHERE year = h.year);

Task 14: Top 3 Customers with Highest Average Yearly Charges
This project focuses on identifying the top 3 customers with the highest average yearly charges over the years they have been hospitalized. By calculating and analyzing the average yearly charges from the hospitalization_details data and joining it with customer names, we can pinpoint those individuals with the highest healthcare expenditure. Understanding these patterns is essential for resource allocation and tailored healthcare planning.

In [ ]:
%%sql
WITH YearlyCharges AS (
    SELECT customer_id, year, AVG(charges) AS avg_charges
    FROM hospitalization_details
    GROUP BY customer_id, year
)

SELECT n.name, y.avg_charges AS average_charges
FROM names n
JOIN YearlyCharges y ON n.customer_id = y.customer_id
GROUP BY n.name, y.avg_charges
ORDER BY y.avg_charges DESC
LIMIT 3;

Task 15: Ranking Customers by Total Charges
This analysis aims to rank customers based on their total charges over the years in descending order. By summing up the charges from the hospitalization_details data for each customer and assigning a rank, we can identify those with the highest healthcare expenses. This information is valuable for healthcare providers and policymakers in tailoring services and managing resources effectively.

In [ ]:
%%sql
SELECT name, RANK() OVER (ORDER BY total_charges DESC) AS name_rank, total_charges
FROM (
    SELECT n.name, SUM(h.charges) AS total_charges
    FROM hospitalization_details h
    JOIN names n ON n.customer_id = h.customer_id
    GROUP BY n.name
) AS ranked_data
ORDER BY total_charges DESC;

Task 16: Identifying Peak Year for Hospitalizations
This task is essential for identifying the year with the highest number of hospitalizations. By calculating the count of hospitalizations for each year from the hospitalization_details dataset, we can pinpoint the peak year for healthcare demand. This insight can help healthcare institutions allocate resources and plan for peak demand years more effectively.

In [ ]:
%%sql
SELECT year, COUNT(*) AS count_of_hospitalizations
FROM  hospitalization_details
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;